<ion-header>
  <ion-toolbar>
    <ion-button shape="round" size="small" onclick="history.back()" color="danger">Back</ion-button>
    <ion-title text-center>Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
      <ion-button style= "float:right" shape="round" size="small"(click)="navToEdit()">Edit</ion-button>
    <div>
      <img src="{{image_url}}">
    </div>
    <div>
      <ion-card-title>{{listName}}</ion-card-title>
    </div>
    <div>
      <ion-card-subtitle>{{listLocation}}</ion-card-subtitle>
    </div>
    <p style="float:right">R{{price}} ZAR per night</p>
  </ion-card>
  <ion-button shape="round" size="small"(click)="navToBookingRequests()">Booking Requests</ion-button>
</ion-content>