<h3>Service Provider</h3>
<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Cell Phone</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-row" *ngFor="let serviceProvider of serviceProviders">
        <td>{{serviceProvider.firstName}}</td>
        <td>{{serviceProvider.lastName}}</td>
        <td>{{serviceProvider.email}}</td>
        <td>+27 0{{serviceProvider.cellphone}}</td>

      </tr>
    </tbody>
  </table>
</div>