<ion-header>
    <ion-toolbar>
        <ion-button shape="round" size="small" onclick="history.back()" color="danger">Back</ion-button>
        <ion-title text-center>Booking Requests</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-card *ngFor="let booking of bookings">
      <div>
        Date From: {{booking.dateFrom}}
      </div>
      <div>
        Date To: {{booking.dateTo}}
      </div>
      <div>
        Status: {{booking.status}}
      </div>
      <ion-button color="success"shape="round" size="small"(click)="accept(booking.id)">Accept</ion-button>
      <ion-button color="danger"shape="round" size="small"(click)="reject(booking.id)">Reject</ion-button>
    </ion-card>
  
  </ion-content>